.card {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 22rem;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 18px -5px 37px -26px rgba(0, 0, 0, 0.75);
  transform: scale(0.8);
  &:hover {
    transform: scale(1);
  }
  @media all and (min-width: 768px) {
    justify-self: center;
    margin-bottom: 40px;
    width: 20rem;
    height: 26rem;
  }
  @media all and (min-width: 1280px) {
    margin-bottom: 50px;
    width: 22rem;
    height: 29rem;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);
    }
  }
  &__link {
    text-decoration: none;
    color: black;
  }
  &__image {
    width: 100%;
  }
  &__name {
    font-family: 'Montserrat', sans-serif;
    padding-left: 1rem;
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-weight: bold;
    @media all and (min-width: 768px) {
      font-size: 20px;
      font-weight: bold;
    }
    @media all and (min-width: 1280px) {
      font-weight: bold;
      font-size: 22px;
    }
  }
  &__species {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-left: 1rem;
    @media all and (min-width: 768px) {
      font-size: 16px;
    }
    @media all and (min-width: 1280px) {
      font-size: 20px;
    }
  }
}
