.container-notfound {
  height: 20rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  &__btn {
    padding: 0.5rem 0.8rem;
    background: #fcfcfc;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    width: 5rem;
  }
  &__img {
    width: 20rem;
    height: 15rem;
    border-radius: 5px;
  }
  &__text {
    margin-left: 20px;
    height: 15rem;
    color: white;
  }
}
