.header {
  &__background {
    background: url('../images/rick-and-morty.png') center center no-repeat;
    background-size: contain;
    height: 20vh;
    @media all and (min-width: 768px) {
      height: 35vh;
    }
  }
}
